/* Primo esercizio */
.ex-1-square{
  transition: 2s;
}

.ex-1-square:hover{
  background-color: red;
}

/* Secondo esercizio */
.ex-2-square{
transition: 2s;
}

.ex-2-square:active{   /*funziona come hover, ma con il click   */
  width: 100%;

}

/* Terzo esercizio */
.ex-3-square {
  transition: 2s;
}

.ex-3-square:hover{
  border-radius: 100%;


}

/* Quarto esercizio */
.ex-4-square {
  transition:  2s;
}

.ex-4-square:hover{
  opacity: 0;
}


/* Quinto esercizio */
.ex-5-square {
  transition: 2s;
}

.ex-5-square:hover{
  width: 150px;
  height: 150px;
}

.ex-5-square:active{
  width: 20px;
  height: 20px;
}


/* Sesto esercizio */
.ex-6-img:hover{
  filter: grayscale(1);
}

/* Settimo esercizio */
.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: grayscale(1);
}


/* Ottavo esercizio */
.ex-8-img{
  transition: all  2s;
}

.ex-8-img:hover{
  filter: grayscale(1);
  border-radius: 20px;
}


/* Nono esercizio */
.ex-9-img{
  transition: all  3s;
}

.ex-9-img:hover{
  filter: grayscale(1);
  border-radius: 20px;
  transform: scale(1.5);

}

/* Decimo esercizio */
.ex-10-icon {
  animation: icon1 1s linear infinite ;
}


@keyframes icon1 {
  0% {
    transform: rotate(1turn)};
}

/* Undicesimo esercizio */
.ex-11-icon:hover {
  animation: icon2 2s linear;
}

@keyframes icon2 {
  0%{
    transform: rotate(0);
  }

 90% {
  transform: rotate(315deg);
  }

  100%{
   transform: rotate(0);
  }
}

/* Dodicesimo esercizio */
.ex-12-button:hover .ex-12-top-white {
  animation: top-white 3s linear;
}
@keyframes top-white  {
  10% {
   left: 10%;
  }

  50% {
   left: calc(100% - 60px);
  }

  100% {
   left: 10%;
  } 
}



.ex-12-button:hover .ex-12-bottom-white {
    animation: bottom-white  2s linear;
}
@keyframes bottom-white {
  0% {
    right: 20%;
  }

 50% {
    right: calc(100% - 60px);
  }

  100% {
    right: 20%;
  }
}


/* Tredicesimo Esercizio */
.ex-13-button:hover .ex-13-top-white {
    animation: top-white-2 2s linear;
}
@keyframes top-white-2{
  0% {
    left: 10%;
    top: -10px;
  }

  20% {
    left: calc(100% - 30px);
    top: -10px;
  }

  40% {
    left: calc(100% - 30px);
    top: 100%;
  }

  60% {
    left: 0;
    top: 100%;
  }

  80% {
    left: -15px;
    top: -10px;
  }

  100% {
    left: 10%;
    top: -10px;
  }

}

.ex-13-button:hover .ex-13-bottom-white {
    animation: bottom-white-2 2s linear;
}
@keyframes bottom-white-2 {
  0% {
    bottom: -10px;
    right: 20%;
  }

  20% {
    right: calc(100% - 30px);
    bottom: -10px;
  }

  40% {
    right: calc(100% - 30px);
    bottom: 100%;
  }

  60% {
    right: 0;
    bottom: 100%;
  }

  80% {
    right: -15px;
    bottom: -10px;
  }

  100% {
    bottom: -10px;
    right: 20%;
  }
}
